<div class="container">
  <p class="title-1">ngx-beautify-cursor</p>
  <p class="subtitle-1">Simple Angular package to beautify your cursor</p>
  <gh-button
    class="github clickable"
    [user]="'MaorAssayag'"
    [repo]="'ngx-beautify-cursor'"
    [count]='true'>
  </gh-button>
</div>

<div class="container2">
  <div class="title-2">Install</div>
  <pre>npm install ngx-beautify-cursor</pre>
  <hr>
  <p class="subtitle"
     ngx-beautify-cursor-circle-bg-color="rgba(255,69,0,0.1)"
     ngx-beautify-cursor-circle-border-color="orange"
     ngx-beautify-cursor-dot-color="orange">
    Detect styles from html attributes
  </p>
  <p class="subtitle clickable">Hover animation on custom classes or html tags</p>
  <p class="subtitle">Fully customizable</p>

  <button class="button">HOVER ME :P</button>
</div>

<ngx-beautify-cursor></ngx-beautify-cursor>
